body{
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}
.padd{
    padding-right: 170px;

}

.padd2{
    padding-right: 142px;

}
.padd3{
    padding-right: 172px;

}
.padd4{
    padding-right: 133px;

}
.padd5{
    padding-right: 60px;

}